[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "content/sl"]
	path = content/sl
	url = https://github.com/s1lver-lining/Starlight
[submodule "content/wu"]
	path = content/wu
	url = https://github.com/s1lver-lining/ctf-writeups
