{{- /* If there is a tools section */ -}}
{{ $forceShow := .forceShow | default false }}
{{ if $forceShow }}
  {{ template "tools-main" (dict "context" .context "page"  .context )}}
{{ else }}
  {{ $items := union .context.RegularPages .context.Sections }}
  {{ $items = where $items "Params.roottoolsection" "==" true }}
  {{ if ne (len $items) 0 }}
    {{ $tools := index $items 0 }}
    {{ template "tools-main" (dict "context" $tools "page" $tools)}}
  {{ end }}
{{ end }}

{{- define "tools-main" -}}
<div class="hextra-filetree mt-6 mb-4 select-none text-sm text-gray-800 dark:text-gray-300 not-prose">
    <div class="inline-block rounded-lg border px-4 py-2 dark:border-neutral-800">
      {{- $state := "open" -}}
      <li class="group flex list-none flex-col">
        <button class="hextra-filetree-folder inline-flex cursor-pointer items-center py-1 hover:opacity-60">
          <span data-state="{{ $state }}" class="data-[state=open]:hidden">
            {{- partial "utils/icon" (dict "name" "folder" "attributes" "width=1em") -}}
          </span>
          <span data-state="{{ $state }}" class="data-[state=closed]:hidden">
            {{- partial "utils/icon" (dict "name" "folder-open" "attributes" "width=1em") -}}
          </span>
          <span class="ml-1">Files</span>
        </button>
        <ul data-state="{{ $state }}" class="pl-5 data-[state=closed]:hidden">
          {{ template "tools-tree" (dict "context" .context "level" 0 "page" .page "pageURL" .pageURL "toc" (.toc | default false)) }}
        </ul>
      </li>
    </div>
  </div>  
{{- end -}}

{{- define "tools-tree" -}}
  {{- if ge .level 4 -}}
    {{- return -}}
  {{- end -}}
  {{- $context := .context -}}
  {{- $page := .page }}
  {{- $pageURL := .page.RelPermalink -}}
  {{- $level := .level -}}
  {{- $toc := .toc | default false -}}

  <div class="ltr:pr-0 overflow-hidden">
    <ul class='relative flex flex-col gap-1 before:absolute before:inset-y-1 before:w-px before:bg-gray-200 before:content-[""] ltr:ml-3 ltr:pl-3 ltr:before:left-0 rtl:mr-3 rtl:pr-3 rtl:before:right-0 dark:before:bg-neutral-800'>
        {{- with $items := .context.RegularPages -}}
          {{- range $items.ByWeight }}
          <li class="flex list-none">
            <a href="{{ .RelPermalink }}" class="inline-flex cursor-pointer items-center py-1 hover:opacity-60">
              {{- partial "utils/icon" (dict "name" "document-text" "attributes" "width=1em") -}}
              <span class="ml-1">{{ .LinkTitle | markdownify }}</span>
            </a>
          </li>
          {{- end -}}
        {{- end }}
        {{- with $items := .context.Sections -}}
        {{- range $items.ByWeight }}
          {{- $state := .Params.state | default "closed" -}}
          <li class="group flex list-none flex-col">
            <button class="hextra-filetree-folder inline-flex cursor-pointer items-center py-1 hover:opacity-60">
              <span data-state="{{ $state }}" class="data-[state=open]:hidden">
                {{- partial "utils/icon" (dict "name" "folder" "attributes" "width=1em") -}}
              </span>
              <span data-state="{{ $state }}" class="data-[state=closed]:hidden">
                {{- partial "utils/icon" (dict "name" "folder-open" "attributes" "width=1em") -}}
              </span>
              <span class="ml-1">{{ .Name }}</span>
            </button>
            <ul data-state="{{ $state }}" class="pl-5 data-[state=closed]:hidden">
              {{ template "tools-tree" dict "context" . "page" $page "pageURL" $pageURL "level" (add $level 1) "toc" $toc}}
            </ul>
          </li>
        {{- end -}}
      {{- end }}
    </ul>
  </div>
{{- end -}}
