{{- /* If there is a tools section */ -}}
{{ $forceShow := .forceShow | default false }}
{{ if $forceShow }}
  {{ template "tools-main" (dict "context" .context "page"  .context )}}
{{ else }}
  {{ $items := union .context.RegularPages .context.Sections }}
  {{ $items = where $items "Params.roottoolsection" "==" true }}
  {{ if ne (len $items) 0 }}
    {{ $tools := index $items 0 }}
    {{ template "tools-main" (dict "context" $tools "page" $tools)}}
  {{ end }}
{{ end }}

{{- define "tools-main" -}}
<div class="hextra-filetree hx:mt-6 hx:mb-4 hx:select-none hx:text-sm hx:text-gray-800 hx:dark:text-gray-300 not-prose">
    <div class="hx:inline-block hx:rounded-lg hx:border hx:px-4 hx:py-2 hx:dark:border-neutral-800">
      {{- $state := "open" -}}
      <li class="hx:group hx:flex hx:list-none hx:flex-col">
        <button class="hextra-filetree-folder hx:inline-flex hx:cursor-pointer hx:items-center hx:py-1 hx:hover:opacity-60">
          <span data-state="{{ $state }}" class="hx:data-[state=open]:hidden">
            {{- partial "utils/icon" (dict "name" "folder" "attributes" "width=1em") -}}
          </span>
          <span data-state="{{ $state }}" class="hx:data-[state=closed]:hidden">
            {{- partial "utils/icon" (dict "name" "folder-open" "attributes" "width=1em") -}}
          </span>
          <span class="hx:ml-1">Files</span>
        </button>
        <ul data-state="{{ $state }}" class="hx:pl-5 hx:data-[state=closed]:hidden">
          {{ template "tools-tree" (dict "context" .context "level" 0 "page" .page "pageURL" .pageURL "toc" (.toc | default false)) }}
        </ul>
      </li>
    </div>
  </div>
{{- end -}}

{{- define "tools-tree" -}}
  {{- if ge .level 4 -}}
    {{- return -}}
  {{- end -}}
  {{- $context := .context -}}
  {{- $page := .page }}
  {{- $pageURL := .page.RelPermalink -}}
  {{- $level := .level -}}
  {{- $toc := .toc | default false -}}

  <div class="hx:ltr:pr-0 hx:overflow-hidden">
    <ul class='hx:relative hx:flex hx:flex-col hx:gap-1 hx:before:absolute hx:before:inset-y-1 hx:before:w-px hx:before:bg-gray-200 hx:before:content-[""] hx:ltr:ml-3 hx:ltr:pl-3 hx:ltr:before:left-0 hx:rtl:mr-3 hx:rtl:pr-3 hx:rtl:before:right-0 hx:dark:before:bg-neutral-800'>
        {{- with $items := .context.RegularPages -}}
          {{- range $items.ByWeight }}
          <li class="hx:flex hx:list-none">
            <a href="{{ .RelPermalink }}" class="hx:inline-flex hx:cursor-pointer hx:items-center hx:py-1 hx:hover:opacity-60">
              {{- partial "utils/icon" (dict "name" "document-text" "attributes" "width=1em") -}}
              <span class="hx:ml-1">{{ .LinkTitle | markdownify }}</span>
            </a>
          </li>
          {{- end -}}
        {{- end }}
        {{- with $items := .context.Sections -}}
        {{- range $items.ByWeight }}
          {{- $state := .Params.state | default "closed" -}}
          <li class="hx:group hx:flex hx:list-none hx:flex-col">
            <button class="hextra-filetree-folder hx:inline-flex hx:cursor-pointer hx:items-center hx:py-1 hx:hover:opacity-60">
              <span data-state="{{ $state }}" class="hx:data-[state=open]:hidden">
                {{- partial "utils/icon" (dict "name" "folder" "attributes" "width=1em") -}}
              </span>
              <span data-state="{{ $state }}" class="hx:data-[state=closed]:hidden">
                {{- partial "utils/icon" (dict "name" "folder-open" "attributes" "width=1em") -}}
              </span>
              <span class="hx:ml-1">{{ .Name }}</span>
            </button>
            <ul data-state="{{ $state }}" class="hx:pl-5 hx:data-[state=closed]:hidden">
              {{ template "tools-tree" dict "context" . "page" $page "pageURL" $pageURL "level" (add $level 1) "toc" $toc}}
            </ul>
          </li>
        {{- end -}}
      {{- end }}
    </ul>
  </div>
{{- end -}}
