{{- /* Link to this file without the trailing / */ -}}
{{ $dllink := .Params.originalPath }}

<a class="hx:mr-1" href="{{ $dllink | urlize | absURL }}" download="">
<button
  title="Download file"
  class="hx:border hx:dark:border-white/40 hx:h-8 hx:rounded-md hx:px-2 hx:text-left hx:text-gray-600 hx:transition-colors hx:dark:text-gray-400 hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:dark:hover:bg-primary-100/5 hx:dark:hover:text-gray-50"
  type="button"
  aria-label="Download file">
  <div class="hx:flex hx:items-center hx:gap-2 hx:capitalize">
    {{- partial "utils/icon.html" (dict "name" "download" "attributes" "height=16" ) -}}
  </div>
</button></a>